<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа с тасками</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages {% for category, message in messages %}{{ category }}{% endfor %}">
    {% for category, message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<header id="top-menu">
    <div class="top-text">
        <div class="logo">
            <a href="">OlimpProject</a>
        </div>
        <div class="top-buttons">
            <form method="POST" action="{{ url_for('a_exit') }}">
                <button type="submit" class="btn" id="exit-button">Выход</button>
            </form>
        </div>
    </div>
</header>

</body>
</html>