<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Работа с тасками</title>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var flashMessages = document.querySelector('.flash-messages');
        if (flashMessages) {
            flashMessages.style.display = 'block';
            setTimeout(function() {
                flashMessages.style.display = 'none';
            }, 3000);
        }
    });
</script>

</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages {% for category, message in messages %}{{ category }}{% endfor %}">
      {% for category, message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<header id="top-menu">
    <div class="top-text">
        <div class="logo">
            <a href="">OlimpProject</a>
        </div>

        <div class="top-buttons">
            <form method="POST" action="{{ url_for('a_exit') }}">
                <button type="submit" class="btn" id="exit-button">Выход</button>
            </form>
        </div>
</header>

</body>
</html>